html, body{
    margin:0;
    padding:0;
    background-color: #eeba1d;
     overflow: hidden; /* Hide scrollbars */
}
.container-fluid{
  display:table;
  width: 100%;
  padding: 0;
}

.row-fluid {display:table-cell; vertical-align: middle;}


.centering {
  float:none;
  margin:0 auto;
    background-color: white;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 1px 1px 2px 2px gray;
    width: 40%;
}
h1{
    padding: 4%;
    color: #1d809f;
}
.inputbox{
    margin: 1%;
    border: 0px solid black;
    padding: .5%;
}
.inputbox input[type=text]:focus{
    border: 1px solid red !important;
}
.btn-success{
    margin: 2%;
}
.box {
  box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)
;



  min-height: 200px;
  width: 50vw;
  margin: 100px auto;
  background: white;
  border-radius: 5px;
}
