{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 text-right imgcont box">
      <table>
              <tr><td><b>Tittle</b></td><td class="text-left">The Stand</td></tr>
              <tr><td><b>Author</b></td><td class="text-left">Stephen King</td></tr>
              <tr><td><b>Language</b></td><td class="text-left">English</td></tr>
              <tr><td><b>Genre</b></td><td class="text-left">Post Apocalyptic</td></tr>
              <tr><td><b>Publisher</b></td><td class="text-left">Doubleday</td></tr>
              <tr><td><b>Publication Date</b></td ><td class="text-left">October 3, 1978</td></tr>
              <tr><td><b>ISBN</b></td><td class="text-left">978-0-385-12168-2</td></tr>
              <tr><td><b>Pages</b></td><td class="text-left">823</td></tr>
      </table>
    </div>

    <div class="col-md-6 box">
      <img class="rounded" src="img/thestand.jpeg" alt="">
       <input class="btn btn-success addbook" type="submit" value="Add Book">
      </div>
  </div>

</div>
{% endblock %}