{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
      <table class="table-responsive-lg">
              <tr><td><b>Tittle</b></td><td class="text-left">The Stand</td></tr>
              <tr><td><b>Author</b></td><td class="text-left">Stephen King</td></tr>
              <tr><td><b>Language</b></td><td class="text-left">English</td></tr>
              <tr><td><b>Genre</b></td><td class="text-left">Post Apocalyptic</td></tr>
              <tr><td><b>Publisher</b></td><td class="text-left">Doubleday</td></tr>
              <tr><td><b>Publication Date</b></td ><td class="text-left">October 3, 1978</td></tr>
              <tr><td><b>ISBN</b></td><td class="text-left">978-0-385-12168-2</td></tr>
              <tr><td><b>Pages</b></td><td class="text-left">823</td></tr>
      </table>
        <button type="button" class="btn btn-primary">Add Book</button>
        <button type="button" class="btn btn-secondary">Home</button>
        <button type="button" class="btn btn-secondary">List all books</button>
    </div>
{% endblock %}