{% extends "base.html" %}
{% block content %}
	<div class="main-w3layouts wrapper">
		<h1>Password Reset</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
				<form action="#" method="post">
					<input class="text" type="text" name="Username" placeholder="Username" required="">
					<input class="text" type="password" name="password" placeholder="Password" required="">
                    <input class="text" type="password" name="password" placeholder="Re-Password" required="">
					<input type="submit" value="change password">
				</form>
				<p><a href="#">Forgot your password?!</a></p>
			</div>
		</div>
	</div>
{% endblock %}