{% extends "base.html" %}
{% block title%} Library Organizer{% endblock %}

{% block content %}
        <h1 class="jumbotron">Library Organizer</h1>
        <div class="container">
            <form action="/login" method="post">
                <button type="submit" class="btn btn-primary" id='loginbtn'>Log in</button>
            </form>
            <form action="/signup" method="post">
                <button type="submit" class="btn btn-secondary" id="'registerbtn'">Register</button>
            </form>
        </div>
{% endblock %}