% extends "base.html" %}
{% block content %}
 <div class="container-fluid"><table class="table-responsive-lg">
              <tbody><tr><td><b>Title</b></td></tr>
              <tr><td><b>Author</b></td></tr>
              <tr><td><b>Language</b></td></tr>
              <tr><td><b>Genre</b></td></tr>
              <tr><td><b>Publisher</b></td></tr>
              <tr><td><b>Publication Date</b></td></tr>
              <tr><td><b>ISBN</b></td></tr>
              <tr><td><b>Pages</b></td></tr>
      </tbody></table>
    </div>
{% endblock %}