{% extends "base.html" %}
{% block content %}
<div class="text-center lead">
    <h1>REGISTER</h1>
</div>
<hr>
<div style="width: 50%; margin: auto;">

    <form action="{{url_for('insert_2')}}" method=POST>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="user_email">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password"  name='password' class="form-control" id="exampleInputPassword1" name="user_passwd">
        </div>
        <button type="submit" name='submit' class="btn btn-primary">REGISTER</button>
    </form>
</div>


{% endblock %}
