{% extends "base.html" %}
{% block title %} User {% endblock %}
{% block content %}
<header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0"></h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link" href="{{ url_for('logout')}}">LOG OUT</a>
        <a class="nav-link" href="{{ url_for('profile')}}">PROFILE</a>
      </nav>
    </div>
  </header>

  <main class="px-3">
    <h1>Library Organizer</h1>
    <p class="lead">Hi! username</p>
    <span class="lead">
      <a href="{{ url_for('booklist')}}" class="btn btn-lg btn-primary fw-bold border-white">My Books</a>
    </span>
        <span class="lead">
      <a class="btn btn-lg btn-primary fw-bold border-white" onclick="show()">Search Books</a>
    </span>
  </main>
<p></p>
<p></p>
<form action="" id="isbn" style="display: none;">
  <input type="text" placeholder="ENTER ISBN">
  <input type="submit" class="btn btn-sm btn-primary fw-bold border-green">
</form>
<script>
function show() {
  var x = document.getElementById("isbn");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
{% endblock %}